<!DOCTYPE html>
{{ .Scratch.Set "isPostSingle" (and .IsPage (eq .Section "posts")) }}
<html lang="{{ .Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>

  <div class="container fade-in">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>
  {{ partial "search-modal.html" . }}
  {{ partial "code-modal.html" . }}
  <script src="{{ "js/modules/utils.js" | relURL }}" defer></script>
  <script src="{{ "js/modules/navigation.js" | relURL }}" defer></script>
  <script src="{{ "js/modules/search.js" | relURL }}" defer></script>
  <script src="{{ "js/modules/copy-button.js" | relURL }}" defer></script>
  <script src="{{ "js/modules/code-expand.js" | relURL }}" defer></script>
  <script src="{{ "js/main.js" | relURL }}" defer></script>
</body>
</html>
